<div fxLayout="row">
  <div fxFlex="1 0 25%" fxLayout="row" fxLayoutAlign="end">
    <mat-nav-list fxFlex="0 1 250px" class="app-card user-navigation">
      <a mat-list-item routerLink="">Dane podstawowe</a>
      <a mat-list-item routerLink="">Ustawienia</a>
      <a mat-list-item routerLink="">Soundcloud</a>
      <a mat-list-item routerLink="">Zdjęcia</a>
      <a mat-list-item routerLink="">Wiadomości</a>
    </mat-nav-list>
  </div>
  <div fxFlex="0 1 1024px" class="app-card" fxLayout="row" fxLayoutAlign="center center">
    account works!
  </div>
  <div fxFlex="0 100 25%"></div>
</div>
