<header>
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div style="margin-left: 16px">
      LOGO
    </div>
    <div fxLayout="row" fxFlex fxLayoutAlign="end">
      <div class="nav-container" fxHide.xs>
        <nav mat-tab-nav-bar disableRipple color="accent">
          <a mat-tab-link routerLinkActive *ngFor="let navLink of navLinks"
             #rla="routerLinkActive"
             [active]="rla.isActive"
             [routerLink]=navLink.path>
            {{navLink.label}}
          </a>
        </nav>
      </div>
      <span fxFlexAlign="center" class="material-icons md-48 user-icon">
      account_circle
      </span>
    </div>
  </mat-toolbar>

</header>
