header {
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-tab-link {
  color: white;
  opacity: 1;
  font-size: 18px;
  font-weight: 600;
  height: 64px;
}

.mat-tab-link:hover {
  color: #ff6562;
  opacity: 74%;
}

.mat-tab-label-active {
  color: #e12b38 !important;
}

.mat-tab-nav-bar {
  border-bottom: 0;
}

.nav-container {
  height: 100%;
}

:host ::ng-deep .mat-ink-bar {
  height: 3px !important;
}

.user-icon {
  margin-left: 64px;
  color: #e12b38;
}
