<div class="filter-panel">
  <mat-accordion multi="true" displayMode="flat">
    <mat-expansion-panel expanded class="mat-elevation-z0 wanted-filters">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Poszukiwany
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Lokalizacja</mat-label>
          <input matInput placeholder="Lokalizacja">
<!--          <mat-icon matPrefix>search</mat-icon>-->
        </mat-form-field>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel expanded class="mat-elevation-z0 looking-filters">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Poszukujący
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
