@import url(../chip.css);

.filter-panel {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-top: 18px;
  margin-right: 10px;
  font-size: 14px;
}

.wanted-filters {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.looking-filters {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

mat-form-field.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-expansion-panel-header.mat-expansion-panel-header {
  padding: 0 16px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 16px;
}

:host ::ng-deep .mat-form-field-infix {
  padding: 0.70em 0;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px;
}

.gender-section {
  font-size: 14px;
  padding: 3px 0;
  margin: 9px 0;
}

.gender-element {
  margin-right: 18px;
}

.gender-section-label {
  color: rgba(0, 0, 0, 0.54);
}

/*:host .mat-expansion-panel-header-title {*/
/*  font-size: 16px;*/
/*}*/
