.user-card {
  max-width: 265px;
  border-radius: 10px;
}

.fallback-profile-image {
  width: 100%;
  height: auto;
}

.profile-image:hover {
  cursor: pointer;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
}

mat-card-content {
  font-size: 14px;
}

.card-content mat-icon {
  padding-right: 8px;
}

.card-content p {
  margin-bottom: 8px;
}

mat-card-header, .mat-card-image:hover {
  cursor: pointer;
}

mat-card-actions {
  color: rgba(0, 0, 0, 0.8);
}

.items-list {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
