.user-conversations-container {
  min-width: 330px;
  margin-right: 10px;
  margin-top: 16px;
}

.inner-conversations {
  max-width: 330px;
  min-width: 330px;
}

.conversation {
  margin-top: 16px;
  padding-right: 0;
}
