<div fxLayout="row">
  <div fxFlex="1 0 25%" fxLayout="row" fxLayoutAlign="end" class="user-conversations-container">
    <app-user-conversations fxFlex="0 1 350px" class="app-card"
                            (selectedConversation)="onConversationChange($event)">
    </app-user-conversations>
  </div>
  <div fxFlex="0 1 1024px" class="app-card">
    <app-conversation *ngIf="currentConversation" [conversation]="currentConversation"
                      [newMessage$]="newMessage$">
    </app-conversation>
    <div *ngIf="!currentConversation">
      Wybierz użytkownika, z którym chcesz rozmawiać
    </div>
  </div>

  <div fxFlex="0 1000 25%"></div>
</div>
