.sign-up-card {
  height: 70vh;
  font-size: 14px;
}

.sign-up-form {
  max-width: 350px;
  width: 100%;
}

.sign-up-button {
  margin-top: 8px;
  width: 60%;
}

.mat-form-field {
  margin-bottom: 4px;
}
