<div [class]="chipsUnderInput ? 'chip-list-margin': ''">
  <mat-form-field appearance="outline">
    <mat-icon matPrefix *ngIf="labelIcon" [class]="labelIconClass">{{labelIcon}}</mat-icon>
    <mat-label>{{label}}</mat-label>
    <mat-chip-list #chipList>
      <ng-container *ngIf="!chipsUnderInput">
        <mat-chip [ngClass]="chipCssClass"
                  *ngFor="let item of selectedItems"
                  removable
                  (removed)="remove(item)">
          {{item.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </ng-container>
      <input matInput
             #itemInput
             [placeholder]="placeholder"
             [formControl]="inputFormControl"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList">
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-chip-list *ngIf="chipsUnderInput">
    <mat-chip
      [ngClass]="chipCssClass"
      *ngFor="let item of selectedItems"
      removable
      (removed)="remove(item)">
      {{item.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
