<div fxLayout="row" fxLayoutAlign="center start">
  <form fxFlex="0 1 1024px" class="app-card login-card" fxLayout="column"
        fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" name="muzykant-email">
      <mat-icon matPrefix class="form-prefix-icon">mail_outlined</mat-icon>
      <mat-error *ngIf="email.errors?.required">
        E-mail {{requiredMessage}}
      </mat-error>
      <mat-error *ngIf="email.errors?.email">
        E-mail musi być poprawnym e-mailem
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matPrefix class="form-prefix-icon">lock_outlined</mat-icon>
      <button type="button"
              class="inline-element"
              mat-icon-button matSuffix
              (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.errors?.required">
        Hasło {{requiredMessage}}
      </mat-error>
      <mat-error *ngIf="password.errors?.minlength">
        Hasło musi mieć minimum 8 znaków
      </mat-error>
    </mat-form-field>
    <button type="submit" class="login-button" mat-raised-button color="accent">
      Zaloguj się
      <mat-icon>login</mat-icon>
    </button>
    <div fxLayout="column" fxLayoutAlign="start center">
      <div>
        Nie masz konta? <a routerLink="/sign-up" class="link">Zarejestruj się</a>
      </div>
      <mat-divider class="sign-up-divider"></mat-divider>
      <a routerLink="" class="link">Nie pamiętasz hasła?</a>
    </div>
  </form>
</div>
