header {
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-tab-link {
  color: white;
  opacity: 1;
  font-size: 18px;
  font-weight: 600;
  height: 64px;
}

.mat-tab-link:hover {
  color: #ff6562;
}

.mat-tab-label-active {
  color: #e12b38 !important;
}

.mat-tab-nav-bar {
  border-bottom: 0;
}

.nav-container {
  height: 100%;
  margin-right: 24px;
}

:host ::ng-deep .mat-ink-bar {
  height: 3px !important;
}

.user-dropdown-menu {
  vertical-align: middle;
  user-select: none;
}

.user-dropdown-menu:hover {
  cursor: pointer;
  color: #ff6562;
}

.profile-text {
  margin-left: 6px;
  font-size: 18px;
  font-weight: 600;
}

.dropdown-icon {
  margin-top: 2px;
}

.logo-image {
  height: 50px;
}

.logo-image:hover {
  cursor: pointer;
}

.login-button .mat-flat-button {
  font-weight: 600;
}

/*::ng-deep .profile-menu + * .cdk-overlay-pane > div.mat-menu-panel {*/
/*  border-radius: 10px;*/
/*}*/
