<mat-nav-list class="ad-list" *ngIf="adsWithChips$ | async as adsWithChips"
              [@listAnimation]="adsWithChips.length">
  <a mat-list-item class="app-card" *ngFor="let adWithChips of adsWithChips"
     routerLink="{{mapAdTypeToRoutingPath(adWithChips.ad.adType)}}/{{adWithChips.ad.id}}"
     appMaterialElevation defaultElevation="0" raisedElevation="4">
    <div fxLayoutAlign="center center">
      <mat-icon *ngIf="!adWithChips.ad.userProfileImageLink" color="accent"
                class="fallback-profile-icon">
        {{getFallbackIconName(adWithChips.ad.userType)}}
      </mat-icon>
      <img *ngIf="adWithChips.ad.userProfileImageLink"
           [src]="adWithChips.ad.userProfileImageLink"
           class="profile-image"
           alt="profile image"/>
    </div>
    <div fxLayout="column" fxFlex class="ad-item-content">
      <div fxLayout fxFlex>
        <mat-chip-list class="chip-list" fxFlex>
          <span class="profile-name">{{adWithChips.ad.userDisplayName}}</span>
          <span class="profile-expects" *ngIf="adWithChips.chips?.length">&nbsp;oczekuje:</span>
          <mat-basic-chip disableRipple class="chip-list ad-chip" [ngClass]="chip.cssClass"
                          *ngFor="let chip of sortChips(adWithChips.chips)">
            {{chip.label | capitalize}}
          </mat-basic-chip>
        </mat-chip-list>
        <div fxFlexAlign="baseline" class="ad-opacity-element" fxLayoutAlign="center">
          <mat-icon *ngIf="adWithChips.ad.commercial" matTooltip="Oferta komercyjna">
            monetization_on
          </mat-icon>
          <span class="ad-posted-date">{{adWithChips.ad.publishedDate | date: 'dd.MM.yyyy'}}</span>
        </div>
      </div>
      <div fxFlex="5 0 auto" class="ad-description">
        {{adWithChips.ad.description}}
        <span *ngIf="!adWithChips.ad.description" class="ad-no-description-info">Brak treści ogłoszenia.</span>
      </div>
      <div fxLayoutAlign="space-between" class="ad-opacity-element">
        <div class="user-type-and-genres">{{localizeUserType(adWithChips.ad.userType)}}
          <ng-container *ngIf="adWithChips.ad.userGenres?.length">
            ({{sortAndJoinGenresToGenreNames(adWithChips.ad.userGenres)}})
          </ng-container>
        </div>
        <span class="location-container">
          {{adWithChips.ad.location}}
          <span fxFlex class="material-icons location-icon">place</span>
        </span>
      </div>
    </div>
  </a>
</mat-nav-list>

<div *ngIf="adsWithChips$ | async as adsWithChips" [@noAdsFoundAnimation]>
  <div *ngIf="!(adsWithChips?.length)" class="ads-not-found">
    Nie znaleziono ogłoszeń spełniających podane kryteria
  </div>
</div>

