@import "../title-header.css";

.filter-panel {
  margin-right: 10px;
}

.bands-container {
  min-height: calc(100vh - 162px);
}

:host ::ng-deep .paginator {
  background-color: transparent;
  margin-top: 6px;
}
