<div fxLayout="row">
  <div fxFlex="25%"></div>
  <div fxFlex="0 1 1024px" class="title-header">
    <nav mat-tab-nav-bar disableRipple>
      <a mat-tab-link [active]="true">
        Katalog muzyków
      </a>
    </nav>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="1 0 25%" fxLayout="row" fxLayoutAlign="end">
    <app-user-search-filter-panel [wantedUserType]="wantedUserType"
                                  (changedFilters)="onChangedFilters($event)"
                                  fxFlex="0 1 340px" class="filter-panel">
    </app-user-search-filter-panel>
  </div>
  <div fxFlex="0 1 1024px" class="musicians-container" fxLayout="column"
       fxLayoutAlign="space-between">
    <app-user-search-results [users$]="musicians$"
                             pluralUserTypeName="muzyków"></app-user-search-results>
    <mat-paginator [length]="musiciansLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 20, 50]"
                   (page)="onPageEvent($event)"
                   class="paginator">
    </mat-paginator>
  </div>
  <div fxFlex="0 100 25%"></div>
</div>
