<div class="app-card" fxLayout="column" fxLayoutAlign="start center">
  <h2 fxFlexAlign="start">Dane podstawowe</h2>
  <div class="basic-info-form" [ngSwitch]="loggedInUserAuthority">
    <app-musician-basic-info *ngSwitchCase="authority.ROLE_MUSICIAN"
                             [voivodeships$]="voivodeships$"
                             (changesSavedEvent)="openSnackBar($event)">
    </app-musician-basic-info>
    <app-band-basic-info *ngSwitchCase="authority.ROLE_BAND"
                         [voivodeships$]="voivodeships$"
                         (changesSavedEvent)="openSnackBar($event)">
    </app-band-basic-info>
    <app-regular-user-basic-info *ngSwitchCase="authority.ROLE_REGULAR_USER"
                                 [voivodeships$]="voivodeships$"
                                 (changesSavedEvent)="openSnackBar($event)">
    </app-regular-user-basic-info>
  </div>
  <button form="basicInfoForm" type="submit" mat-raised-button
          color="accent"
          fxFlexAlign="end">
    Zapisz zmiany
  </button>
</div>
