.ad-details-container {
  padding: 16px;
}

.row-name {
  min-width: 170px;
}

.user-card {
  max-width: 265px;
  width: 100%;
}

.ad-chip {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  padding: 0.07em 0.8em;
  margin: 5px 8px 5px 0;
  border-radius: 12px;
}

:host ::ng-deep .mat-chip-list-wrapper {
  margin: 0;
}

.chip-list {
  outline: none;
}

.ad-description {
  margin: 16px;
  text-align: justify;
}

.description-header {
  color: rgba(0, 0, 0, 0.6);
}

:host .mat-list-item {
  font-size: 15px;
  height: auto;
  padding: 6px 0;
}

.ad-info {
  margin-left: 16px;
}

.ad-info h2 {
  margin: 0 16px;
}

.commercial-icon {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.7);
}

.ad-no-description {
  opacity: 0.6;
}

.message-button {
  margin-left: 16px;
}

.phone {
  height: 36px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 20px;
}

.phone-number {
  margin-left: 4px;
}

.show-number-button {
  font-size: 16px;
  padding: 0 6px;
}
