/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.material-icons.md-18 {
  font-size: 18px;
  height: 1em;
  width: 1em;
}

.material-icons.md-24 {
  font-size: 24px;
  height: 1em;
  width: 1em;
}

.material-icons.md-36 {
  font-size: 36px;
  height: 1em;
  width: 1em;
}

.material-icons.md-48 {
  font-size: 48px;
  height: 1em;
  width: 1em;
}

mat-form-field.mat-form-field {
  line-height: normal;
}

.app-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 16px;
}

.inline-element {
  display: inline !important;
}

.mat-form-field-prefix .material-icons-outlined, .mat-form-field-suffix .material-icons-outlined {
  font-size: 150%;
  line-height: 1.125;
}

.snackbar {
  background-color: #e12b38;
  color: white;
}
