.dropzone-content {
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
}

.dropzone-content:hover {
  cursor: pointer;
}

.photo-wrapper {
  position: relative;
  cursor: move;
  margin: 5px;
}

.photo {
  max-height: 300px;
  max-width: 317px;
}

.delete-photo-icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.85);
  top: 4px;
  right: 4px;
  opacity: 0;
  transition: transform .135s cubic-bezier(0.0, 0.0, 0.2, 1), opacity, color linear .15s;
  z-index: 3;
}

.photo-wrapper:hover .delete-photo-icon, .photo-wrapper:hover .delete-photo-background {
  opacity: 1;
}

.delete-photo-icon:hover {
  cursor: pointer;
  color: white;
}

.delete-photo-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 100%;
  max-height: 46px;
  background: radial-gradient(
    circle at top right,
    rgba(20, 20, 20, 0.3),
    rgba(255, 255, 255, 0) 70%
  );
  transition: transform .135s cubic-bezier(0.0, 0.0, 0.2, 1), opacity linear .15s;
  opacity: 0;
}

.save-button {
  margin: 16px 0;
}

.no-images-placeholder {
  padding: 83px;
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.photo-drag-shadow {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
